<th-ambientLight [intensity]="0.2" />
<th-pointLight [position]="[2, 4, 3]" [intensity]="30" [distance]="15" />
<th-pointLight [position]="[-2, 5, 2]" [intensity]="20" [distance]="15" />
<th-pointLight [position]="[0, 3, 4]" [intensity]="15" [distance]="15" />

<th-gridHelper
  [args]="[100, 100, '#222', '#222']"
  [position]="[0, -0.5, 0]"
  [rotation]="[0, 0, 0]"
>
</th-gridHelper>

<app-timeline-rail />

@for (block of flatFormula(); track $index) {
  <app-lego-block
    [pos]="block.position"
    [type]="block.node.type"
    [variableId]="block.node.variableId"
    [shape]="block.shape"
    [width]="block.width"
    [childZ]="block.childZ"
    [childWidth]="block.childWidth"
    [isSatisfied]="checkLogic(block.node)"
  >
  </app-lego-block>
}

@for (block of flatFormula(); track $index) {
  @if (block.node.type === 'NEXT' && checkLogic(block.node)) {
    <app-logic-link [start]="block.position" [end]="[block.position[0] + 1, -0.5, 0]">
    </app-logic-link>
  }

  @if (block.node.type === 'EVENTUALLY' && checkLogic(block.node)) {
    @let targetX = findSatisfyingTime(block.node);
    <app-logic-link [start]="block.position" [end]="[targetX, -0.5, 0]">
    </app-logic-link>
  }

  @if (block.node.type === 'ALWAYS' && checkLogic(block.node)) {
    @for (step of getAlwaysSteps(currentTime()); track step) {
      <app-logic-link
        [start]="block.position"
        [end]="[step, -0.5, 0]" />
    }
  }

  @if (block.node.type === 'UNTIL' && checkLogic(block.node)) {
    @let targetX = findUntilEnd(block.node);
    <app-logic-link [start]="block.position" [end]="[targetX, -0.5, 0]">
    </app-logic-link>
  }
}
