<th-group [position]="pos">
  <!-- Box shape (PROPOSITION) -->
  @if (shape === 'box') {
    @let centerZ = 0;
    <!-- @let centerZ = blockWidth; -->
    <th-mesh [position]="[0, 0, centerZ]">
      <th-boxGeometry [args]="[blockWidth, blockHeight, blockWidth]" />
      <th-meshStandardMaterial
        [color]="_color() | color"
        [roughness]="0.05"
        [metalness]="0.1"
        [emissive]="'#ffaa44' | color"
        [emissiveIntensity]="isSatisfied ? 0.15 : 0"
      />
    </th-mesh>

    <!-- Text label sprite -->
    <th-sprite
      [position]="[-blockWidth / 2 - 0.01, 0, centerZ]"
      [scale]="[blockWidth * 0.5, blockHeight * 0.5, 1]"
    >
      <th-spriteMaterial [map]="labelTexture" [depthTest]="false" [transparent]="true" />
    </th-sprite>
  }

  <!-- Unary operator bracket (□, ◇, ○, ¬) -->
  @if (shape === 'unary') {
    @let centerZ = -width / 2 + blockWidth / 2;
    @let childW = width - blockWidth * 2;
    @let halfWidth = childW / 2;
    @let leftLegZ = centerZ - halfWidth - blockWidth / 2;
    @let rightLegZ = centerZ + halfWidth + blockWidth / 2;
    @let span = rightLegZ - leftLegZ + blockWidth;
    <!-- Top bar spanning children -->
    <th-mesh [position]="[0, 0, centerZ]">
      <th-boxGeometry [args]="[blockWidth, blockHeight, span]" />
      <th-meshStandardMaterial
        [color]="_color() | color"
        [roughness]="0.05"
        [metalness]="0.1"
        [emissive]="'#ffaa44' | color"
        [emissiveIntensity]="isSatisfied ? 0.15 : 0"
      />
    </th-mesh>

    <!-- Left leg connecting to child -->
    <th-mesh [position]="[0, -blockHeight * 0.5, leftLegZ]">
      <th-boxGeometry [args]="[blockWidth, 2 * blockHeight, blockWidth]" />
      <th-meshStandardMaterial
        [color]="_color() | color"
        [roughness]="0.05"
        [metalness]="0.1"
        [emissive]="'#ffaa44' | color"
        [emissiveIntensity]="isSatisfied ? 0.15 : 0"
      />
    </th-mesh>

    <!-- Right leg connecting to child -->
    <th-mesh [position]="[0, -blockHeight * 0.5, rightLegZ]">
      <th-boxGeometry [args]="[blockWidth, 2 * blockHeight, blockWidth]" />
      <th-meshStandardMaterial
        [color]="_color() | color"
        [roughness]="0.05"
        [metalness]="0.1"
        [emissive]="'#ffaa44' | color"
        [emissiveIntensity]="isSatisfied ? 0.15 : 0"
      />
    </th-mesh>

    <!-- Unary operator label -->
    <th-sprite [position]="[-blockWidth / 2 - 0.01, 0, centerZ]" [scale]="[0.3, 0.2, 1]">
      <th-spriteMaterial [map]="labelTexture" [depthTest]="false" [transparent]="true" />
    </th-sprite>
    <!-- </th-group> -->
  }

  <!-- Binary operator bracket (∧, ∨, 𝒰) -->
  @if (shape === 'binary') {
    @let centerZ = -width / 2 + blockWidth / 2;
    @let childW = width - blockWidth * 2;
    @let halfWidth = childW / 2;
    @let leftLegZ = centerZ - halfWidth - blockWidth / 2;
    @let rightLegZ = centerZ + halfWidth + blockWidth / 2;
    @let span = rightLegZ - leftLegZ;

    <th-mesh [position]="[0, 0, centerZ]">
      <th-boxGeometry [args]="[blockWidth, blockHeight, span]" />
      <th-meshStandardMaterial
        [color]="_color() | color"
        [roughness]="0.05"
        [metalness]="0.1"
        [emissive]="'#ffaa44' | color"
        [emissiveIntensity]="isSatisfied ? 0.15 : 0"
      />
    </th-mesh>

    <!-- Left leg connecting to left child -->
    <th-mesh [position]="[0, -blockHeight * 0.5, leftLegZ]">
      <th-boxGeometry [args]="[blockWidth, 2 * blockHeight, blockWidth]" />
      <th-meshStandardMaterial
        [color]="_color() | color"
        [roughness]="0.05"
        [metalness]="0.1"
        [emissive]="'#ffaa44' | color"
        [emissiveIntensity]="isSatisfied ? 0.15 : 0"
      />
    </th-mesh>

    <!-- Right leg connecting to right child -->
    <th-mesh [position]="[0, -blockHeight * 0.5, rightLegZ]">
      <th-boxGeometry [args]="[blockWidth, 2 * blockHeight, blockWidth]" />
      <th-meshStandardMaterial
        [color]="_color() | color"
        [roughness]="0.05"
        [metalness]="0.1"
        [emissive]="'#ffaa44' | color"
        [emissiveIntensity]="isSatisfied ? 0.15 : 0"
      />
    </th-mesh>

    <!-- Binary operator label -->
    <th-sprite [position]="[-blockWidth / 2 - 0.01, 0, centerZ]" [scale]="[0.3, 0.2, 1]">
      <th-spriteMaterial [map]="labelTexture" [depthTest]="false" [transparent]="true" />
    </th-sprite>
    <!-- </th-group> -->
  }
</th-group>
