<th-group>
  <th-mesh #pipeMesh>
    <th-meshStandardMaterial
      [color]="'#52b788' | color"
      [emissive]="'#52b788' | color"
      [emissiveIntensity]="1"
    />
  </th-mesh>

  <th-mesh [position]="start()">
    <th-cylinderGeometry [args]="[0.12, 0.12, 0.2, 16]" />
    <th-meshStandardMaterial
      [color]="'#52b788' | color"
      [emissive]="'#52b788' | color"
      [emissiveIntensity]="1"
    />
  </th-mesh>

  <th-mesh [position]="end()">
    <th-cylinderGeometry [args]="[0.12, 0.12, 0.2, 16]" />
    <th-meshStandardMaterial
      [color]="'#52b788' | color"
      [emissive]="'#52b788' | color"
      [emissiveIntensity]="1"
    />
  </th-mesh>
  {{ end | json }}
</th-group>
