:host {
  display: block;
  width: 100vw;
  height: 100vh;
  margin: 0;
  overflow: hidden;
}

.canvas-container {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1; /* Keep 3D behind the UI */
}

th-canvas {
  width: 100% !important;
  height: 100% !important;
  display: block;
}
