.trace-container {
  position: absolute;
  top: 20px;
  right: 20px;
  background: rgba(0, 0, 0, 0.85);
  padding: 15px;
  border-radius: 8px;
  color: white;
  font-family: sans-serif;
}
table {
  border-collapse: collapse;
}
th,
td {
  padding: 8px;
  border: 1px solid #444;
  text-align: center;
}
.cell {
  width: 30px;
  height: 30px;
  cursor: pointer;
  transition: 0.2s;
}
.cell.is-true {
  background: #00ff00;
  box-shadow: inset 0 0 10px rgba(0, 255, 0, 0.5);
}
.cell:not(.is-true) {
  background: #330000;
}
.active {
  color: #00ff00;
  text-decoration: underline;
}
.is-active {
  border: 2px solid white !important;
}
.trace-container {
    right: 4px;
    height: 200px;
    overflow: scroll;
}